<h2>{{title}}</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Stock</th>
      <th scope="col">Category</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (item of products; track $index) {
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>{{item.stock}}</td>
        <td #categoryTd data-category-id="{item.category?.id}">{{item.category?.name}}</td>
        @if (canEdit) {
        <td>
          <button (click)="callModalAction.emit(item);" class="btn btn-warning me-2" type="button"><i class="fas fa-pen"></i></button>
          <button (click)="callDeleteAction.emit(item)" class="btn btn-danger" type="button"><i class="fas fa-trash"></i></button>
        </td>
        }
      </tr>
    } @empty {
      <tr>
        <td colspan="4">
          <div class="d-flex justify-content-center align-items-center w-100">
            <p class="mb-0">There are not products</p>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>